@using EntityLayer
@model tasks

<style>
    #ust{
        margin-top:10%;
    }
</style>

<div class="container" id="ust">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <h2 class="h2">Görevi Güncelle</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            @using(Html.BeginForm("Update", "Task", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("Görevin Başlığı")<br>
                    @Html.TextBoxFor(x=>x.Title)
                    @Html.ValidationMessageFor(x=>x.Title)
                    <br>
                    @Html.Label("Görevin İçeriği")<br>
                    @Html.TextAreaFor(x=>x.Description)
                     @Html.ValidationMessageFor(x=>x.Description)
                    <br>
                    @Html.Label("Görevin Sahibi")<br>
                    @Html.TextBoxFor(x=>x.Owner)
                    <br>
                    @Html.Label("Görev Durumu")<br>
                    @Html.DropDownList("status",null,"Lütfen bir durum seçiniz.")
                    <br><br />
                    <button class="btn btn-outline-success">Güncelle</button>
                </div>
            }
        </div>
    </div>

</div>